<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='img/logo.jpg') }}">

  <title>Rozklad Bot</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">

  <!-- Plugin CSS -->
  <!-- <link rel="stylesheet" href="static/device-mockups/device-mockups.min.css"> -->

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/new-age.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  



  <header class="masthead pt-5"> <!-- no container -->
    <div class="container h-100"> <!-- container -->
      <div class="row h-100">

        <div class="col-lg-6 my-auto p-sm-5 p-lg-0">
          <div class="header-content text-center mx-auto my-auto">
            <div class="mb-5"><img src="{{ url_for('static', filename='img/logo-nobg.png') }}" class="img-fluid rounded" alt="Rozklad Bot"></div>
            <!-- <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a> -->
          </div>
          <p class="text-center" style="font-size:2.8em; margin-bottom: 0.1em; padding-top: 0.1em"><i class="fas fa-users"></i> 2558</p>
          <p class="text-center" style="font-size:1.4em;"> студентів та викладачів</p>
        </div>

        <div class="mx-auto text-center d-block d-lg-none">
          <a href="https://t.me/rozklad_bot" class="btn btn-outline btn-lg m-3">Перейти до бота  <i class="fab fa-telegram-plane"></i></a>
        </div>

        <div class="col-lg-6 my-auto">

          <!-- <div class="row text-center">
            <div class="col my-3">
              <img src="static/img/logo_onmu.jpg" class="img-fluid img-unis" alt="Rozklad Bot">
            </div>
            <div class="col my-3">
              <img src="static/img/logo_oneu.png" class="img-fluid img-unis" alt="Rozklad Bot">
            </div>
            <div class="col-md my-3">
              <i class="fas fa-plus fa-3x mt-4"></i>
              <p>i більше</p>
            </div>
          </div> -->

          <!-- <div class="container w-40 mt-4" style="max-width: 14em;">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active text-center">
                  <img class="w-20 img-unis" src="static/img/logo_onmu.jpg" alt="First slide">
                </div>
                <div class="carousel-item text-center">
                  <img class="w-20 img-unis" src="static/img/logo_oneu.png" alt="Second slide">
                </div>
                
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div> -->

          <div id="myCarousel" class="carousel slide w-100 mt-5" data-ride="carousel">
            <div class="carousel-inner w-100 text-center" role="listbox">
              <div class="carousel-item active">
                <div class="col-6 col-lg-4">
                  <img class="img-fluid img-unis" src="{{ url_for('static', filename='img/logo_onmu.jpg') }}">
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-6 col-lg-4">
                  <img class="img-fluid img-unis" src="{{ url_for('static', filename='img/logo_oneu.png') }}">
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-6 col-lg-4">
                  <img class="img-fluid img-unis" src="{{ url_for('static', filename='img/logo_onmu.jpg') }}">
                </div>
              </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          

          <div class="header-content mx-auto mt-5">
            <h1 class="mb-5 mt-3">Rozklad bot - це чат-бот, який допоможе вам дізнатися розклад вашого вузу і підкаже на яку пару зараз пора бігти :)</h1>
          </div>
        </div>

        <div class="mx-auto text-center d-none d-lg-block">
          <a href="https://t.me/rozklad_bot" class="btn btn-outline btn-lg m-3">Перейти до бота  <i class="fab fa-telegram-plane"></i></a>
        </div>

      </div>
    </div>
  </header>
  

  <section class="contact" id="contact">
    <div class="container mb-4">
      <ul class="list-inline list-social">
        <li class="list-inline-item social-facebook">
          <a href="https://www.facebook.com/rozkladbot">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item social-twitter">
          <a href="https://twitter.com/rozklad_bot">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item social-google-plus">
          <a href="https://www.instagram.com/rozklad_bot/">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <a href="https://t.me/zavod_support" style="color: white">&commat; zavod_support - зв'язатися з нами</a>
  </section>

  <!-- <footer>
    <div class="container">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
      <p>&copy; Your Website 2020. All Rights Reserved.</p> 
    </div>
  </footer> -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/new-age.js') }}"></script>
  <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>

</body>

</html>
